body{
  padding: inherit;
}

label {
  /* To make sure that all label have the same size and are properly align */
  display: inline-block;
  width: 150px;
  text-align: left;
  font-weight: bold;
  padding-top: 10px;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra magin represent the same space as the space between
     the labels and their text fields */
  margin-left: .5em;
  margin-top: 1em;
}
